@* @page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" /> *@

@page "/"

<PageTitle>Bem-vindo</PageTitle>

<h1>Bem-vindo!</h1>
<p>Use o menu à esquerda para configurar os equipamentos DL6000.</p>


