<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DL6000WebConfig</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">              
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitor">
                <span class="oi oi-monitor" aria-hidden="true"></span> Monitoramento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="oi oi-cog" aria-hidden="true"></span> Configurar DL6000
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="general-config">
                <span class="oi oi-wrench" aria-hidden="true"></span> Configuração Geral
            </NavLink>
        </div>
        <div class="nav-item d-flex justify-content-center push-button-down">
            <button class="btn btn-outline-light me-2 logout-button" @onclick="Logout">
                <i class="fas fa-sign-out-alt"></i> Sair
            </button>
        </div>
    </nav>
</div>

@code {

    [Inject] public HttpClient Http { get; set; } = null!;
    [Inject] public NavigationManager Navigation { get; set; } = null!;

    [Inject]
    public IJSRuntime JSRuntime { get; set; } = null!;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        try
        {
            await Http.PostAsync("api/auth/logout", null); // Chama o logout do servidor
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao fazer logout: {ex.Message}");
        }

        Navigation.NavigateTo("/", true); // Redireciona para login
    }
}
